<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Filters -->
      <div class="row">
        <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12">
          <h1>{{property.title}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="container">
          <div class="carousel">
            <input *ngFor="let x of property?.images; let i = index" type="radio" id="carousel-{{i}}" name="carousel[]" [checked]="i===0">
            <ul class="carousel__items">
              <li *ngFor="let y of property?.images" class="carousel__item"><img src="{{commonService.base_url}}/property/showGFSImage/{{ y }}" alt=""></li>
            </ul>
            <div class="carousel__prev">
              <label *ngFor="let z of property?.images; let i = index" for="carousel-{{i}}"></label>
            </div>
            <div class="carousel__next">
              <label *ngFor="let k of property?.images; let i = index" for="carousel-{{i}}"></label>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12">
          <div class="cellContainer">
            <h2 id="price">Price: Rs. {{property?.price}}</h2>
          </div>
          <div class="cellContainer1">
            <a class="btn btn-default" id="celldivupper">Share</a>
          </div>
          <div class="cellContainer1">
            <a class="btn btn-default" id="celldivupper">Save</a>
          </div>
          <div class="cellContainer1">
            <a class="btn btn-default" id="celldivupper">Buy</a>
          </div>
        </div>
        <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12">
          <div class="cellContainer2">
            <div class="bg-gradient-danger" id="celldivfirst">
              <i class="fa fa-bed fa-2x" id="iconpos" aria-hidden="true"></i>
              <h3>Area: {{property?.length * property?.breadth}} Square ft.</h3>
            </div>
          </div>
          <div class="cellContainer2">
            <div class="bg-gradient-danger" id="celldiv">
              <i class="fa fa-map-marker-alt fa-2x" id="iconpos" aria-hidden="true"></i>
              <h3>{{property?.city}}, Pakistan</h3>
            </div>
          </div>
          <div class="cellContainer2">
            <div class="bg-gradient-danger" id="celldiv">
              <i class="fa fa-bell fa-2x" id="iconpos" aria-hidden="true"></i>
              <h3>{{property?.status}}</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12">
          <div class="cellContainer2">
            <div class="bg-gradient-danger" id="celldivfirst">
              <i class="fa fa-bed fa-2x" id="iconpos" aria-hidden="true"></i>
              <h3>Type: {{property?.type}}</h3>
            </div>
          </div>
          <div class="cellContainer2">
            <div class="bg-gradient-danger" id="celldiv">
              <i class="fa fa-map-marker-alt fa-2x" id="iconpos" aria-hidden="true"></i>
              <h3>Corner Plot: {{property?.cornerPlot ? 'Yes' : 'No'}}</h3>
            </div>
          </div>
          <div class="cellContainer2">
            <div class="bg-gradient-danger" id="celldiv">
              <i class="fa fa-bell fa-2x" id="iconpos" aria-hidden="true"></i>
              <h3>Added: {{property?.createdAt | date:'short'}}</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12">
          <div id="overview">
            <div style="margin-top: 20px;">
              <div class="bg-danger" id="overview">
                <h2 style="color: white; margin-top: 15px;">OVERVIEW</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12">
          <h2 style="margin-top: 50px;">Description</h2>
          <span>{{property?.description}}.</span>
        </div>
        <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12">
          <h2 style="margin-top: 50px;">Location</h2>
          <span>{{property?.address}}.</span>
        </div>
        <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12">
          <h2 style="margin-top: 50px;">Dimensions</h2>
          <span>Length: {{property?.length}} ft.</span><br/>
          <span>Breadth: {{property?.breadth}} ft.</span>
        </div>
        <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12">
          <h2 style="margin-top: 50px;">Contact Details For Enquiries</h2>
          <span>Phone: {{property?.phoneNo}}</span><br/>
          <span>Email: {{property?.email}}</span>
        </div>
        <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12">
          <h2 style="margin-top: 30px;">Facilities Availed</h2>
        </div>
      </div>
    </div>
  </div>
</div>
