.property-image{
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.property-row:hover{
  background-color: #dddddd;
}

h1{
  color: white;
  z-index: 2;
  position: relative;
}
