.cellContainer{
    width: 15%;
    float: left;
}

.projectContainer{
    width: 45%;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cellContainer1{
    width: 8%;
    float: left;
}

#filter-head{
    color: white;
}

.property-image{
    width: 300px;
    height: auto;
    margin-left: 30px;
}