<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <!-- Filters -->
      <div class="row">
        <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12">
          <h2>FILTERS</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12">
          <div class="cellContainer">
            <div style="margin-top: 5px;">
              <select id="basic" class="selectpicker show-tick form-control" title="Type of Property">
                <option disabled selected hidden>Property Type</option>
                <option>Homes</option>
                <option>Plots</option>
                <option>Commercial</option>
              </select>
            </div>
          </div>
          <div class="cellContainer">
            <div style="margin-left: 10px; margin-top: 5px;">                                     
              <select id="basic" class="selectpicker show-tick form-control" title="Select your city">
                <option disabled selected hidden>City</option>
                <option>Karachi</option>
                <option>Lahore</option>
                <option>Islamabad</option>
                <option>Quetta</option>
                <option>Peshawar</option>
                <option>Faisalabad</option>
                <option>Hyderabad</option>
                <option>Sialkot</option>
                <option>Multan</option>
              </select>
            </div>
          </div>
          <div class="cellContainer">
            <div style="margin-left: 10px; margin-top: 5px;">                                     
              <select id="basic" class="selectpicker show-tick form-control" title="Price">
                <option disabled selected hidden>Price (PKR)</option>
                <option>0-500,000</option>
                <option>500,000-1,000,000</option>
                <option>1,000,000-2,000,000</option>
                <option>2,000,000-5,000,000</option>
                <option>5,000,000-10,000,000</option>
                <option>10,000,000-20,000,000</option>
                <option>20,000,000-50,000,000</option>
                <option>50,000,000-100,000,000</option>
                <option>100,000,000-200,000,000</option>
                <option>200,000,000-500,000,000</option>
                <option>500,000,000-1,000,000,000</option>
                <option>1,000,000,000-5,000,000,000</option>
              </select>
            </div>
          </div>
          <div class="cellContainer">
            <div style="margin-left: 10px; margin-top: 5px;">                                     
              <select id="basic" class="selectpicker show-tick form-control" title="Area">
                <option disabled selected hidden>Area (Marla)</option>
                <option>0-2</option>
                <option>2-5</option>
                <option>5-10</option>
                <option>10-20</option>
                <option>20-40</option>
              </select>
            </div>
          </div>
          <div class="cellContainer">
            <div style="margin-left: 10px; margin-top: 5px;">                                     
              <input type="text" class="form-control" placeholder="Developer Title">
            </div>
          </div>
          <div class="cellContainer">
            <div style="margin-left: 10px; margin-top: 5px;">
              <select id="basic" class="selectpicker show-tick form-control" title="Status of Property">
                <option disabled selected hidden>Project Status</option>
                <option>All</option>
                <option>Active</option>
                <option>Acquired</option>
                <option>Sold</option>
              </select>
            </div>
          </div>
          <div class="cellContainer1">
            <div style="margin-left: 10px; margin-top: 5px;">
              <a href="javascript:void(0)" class="btn btn-default">Find</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent"></div>
      </div>
    </div>
  </div>
</div>
