.cellContainer{
    width: 15%;
    float: left;
}

.cellContainer1{
    width: 8%;
    float: left;
}

h2 {
    color: white;
}

.property-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.property-row:hover{
  background-color: #dddddd;
}
