<nav class="navbar navbar-top navbar-expand-md navbar-dark bg-gradient-danger" id="navbar-main">
  <div class="cellContainernav">
    <div style="float: left;">
      <h1>Real Estate Management System</h1>
    </div>
    <div style="float: right;">
      <a routerLink="/register" class="btn btn-default">Register</a>
    </div>
    <div style="float: right; margin-right: 10px;">
      <a routerLink="/login" class="btn btn-default">Login</a>
    </div>
    <div style="float: right; margin-right: 10px;">
      <a routerLink="/projects" class="btn btn-default">Projects</a>
    </div>
    <div style="float: right; margin-right: 10px;">
      <a routerLink="/" class="btn btn-default">Properties</a>
    </div>
  </div>
</nav>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <!-- Filters -->
      <div class="row">
        <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12">
          <h2 id="filter-head">FILTERS</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12">
          <div class="cellContainer">
            <div style="margin-top: 5px;">
              <select id="basic" class="selectpicker show-tick form-control" title="Type of Property">
                <option disabled selected hidden>Property Type</option>
                <option>Homes</option>
                <option>Plots</option>
                <option>Commercial</option>
              </select>
            </div>
          </div>
          <div class="cellContainer">
            <div style="margin-left: 10px; margin-top: 5px;">
              <select id="basic" class="selectpicker show-tick form-control" title="Select your city">
                <option disabled selected hidden>City</option>
                <option>Karachi</option>
                <option>Lahore</option>
                <option>Islamabad</option>
                <option>Quetta</option>
                <option>Peshawar</option>
                <option>Faisalabad</option>
                <option>Hyderabad</option>
                <option>Sialkot</option>
                <option>Multan</option>
              </select>
            </div>
          </div>
          <div class="cellContainer">
            <div style="margin-left: 10px; margin-top: 5px;">
              <select id="basic" class="selectpicker show-tick form-control" title="Price">
                <option disabled selected hidden>Price (PKR)</option>
                <option>0-500,000</option>
                <option>500,000-1,000,000</option>
                <option>1,000,000-2,000,000</option>
                <option>2,000,000-5,000,000</option>
                <option>5,000,000-10,000,000</option>
                <option>10,000,000-20,000,000</option>
                <option>20,000,000-50,000,000</option>
                <option>50,000,000-100,000,000</option>
                <option>100,000,000-200,000,000</option>
                <option>200,000,000-500,000,000</option>
                <option>500,000,000-1,000,000,000</option>
                <option>1,000,000,000-5,000,000,000</option>
              </select>
            </div>
          </div>
          <div class="cellContainer">
            <div style="margin-left: 10px; margin-top: 5px;">
              <select id="basic" class="selectpicker show-tick form-control" title="Area">
                <option disabled selected hidden>Area (Marla)</option>
                <option>0-2</option>
                <option>2-5</option>
                <option>5-10</option>
                <option>10-20</option>
                <option>20-40</option>
              </select>
            </div>
          </div>
          <div class="cellContainer">
            <div style="margin-left: 10px; margin-top: 5px;">
              <input type="text" class="form-control" placeholder="Developer Title">
            </div>
          </div>
          <div class="cellContainer">
            <div style="margin-left: 10px; margin-top: 5px;">
              <select id="basic" class="selectpicker show-tick form-control" title="Status of Property">
                <option disabled selected hidden>Project Status</option>
                <option>All</option>
                <option>Active</option>
                <option>Acquired</option>
                <option>Sold</option>
              </select>
            </div>
          </div>
          <div class="cellContainer1">
            <div style="margin-left: 10px; margin-top: 5px;">
              <a href="javascript:void(0)" class="btn btn-default">Find</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="card shadow">
      <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12">
        <div class="projectContainer" *ngFor="let project of projectList">
          <mat-card>
            <a routerLink="/single-project/{{project._id}}">
              <img mat-card-image src="{{commonService.base_url}}/project/showGFSImage/{{ project.images[0] }}">
            </a>
            <mat-card-header style="justify-content: center">
              <mat-card-title class="d-flex justify-content-center">
                <h2 class="m-0">{{project.name}}</h2>
              </mat-card-title>
<!--              <mat-card-subtitle class="d-flex justify-content-center">-->
<!--                <h4 class="m-0">Price{{project.priceFrom}} - {{project.priceTo}}</h4>-->
<!--              </mat-card-subtitle>-->
            </mat-card-header>
            <mat-card-content class="d-flex justify-content-center">
              <p>
                {{project.description}}
              </p>
            </mat-card-content>

            <mat-card-actions class="d-flex justify-content-center">
              <button mat-button>Price Range(PKR): {{project.priceFrom}} - {{project.priceTo}}</button>
              <button mat-button>
                <mat-icon class="nav-icon">location_on</mat-icon> {{project.location}}, {{project.city}}
              </button>
              <div ngbDropdown placement="bottom-right">
                <a class="btn btn-sm btn-icon-only text-dark" ngbDropdownToggle>
                  <i class="fas text-black-50 fa-ellipsis-v"></i>
                </a>
                <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                  <a class="dropdown-item" href="javascript:void(0)">Buy</a>
                  <a class="dropdown-item" href="javascript:void(0)">Save</a>
                  <a class="dropdown-item" href="javascript:void(0)">Share</a>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card shadow">
      <div class="col-12">
<!--        <div class="card-footer py-4">-->
<!--          <nav aria-label="...">-->
<!--            <ul class="pagination justify-content-end mb-0">-->
<!--              <li class="page-item disabled">-->
<!--                <a class="page-link" href="javascript:void(0)" tabindex="-1">-->
<!--                  <i class="fas fa-angle-left"></i>-->
<!--                  <span class="sr-only">Previous</span>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="page-item active">-->
<!--                <a class="page-link" href="javascript:void(0)">1</a>-->
<!--              </li>-->
<!--              <li class="page-item">-->
<!--                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>-->
<!--              </li>-->
<!--              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>-->
<!--              <li class="page-item">-->
<!--                <a class="page-link" href="javascript:void(0)">-->
<!--                  <i class="fas fa-angle-right"></i>-->
<!--                  <span class="sr-only">Next</span>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </nav>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
